tmp_build/
build/
build-*/
.vs/
*.user
*.suo
*.ninja_deps
*.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
translations/*.qm
res/license.txt
res/readme.txt
res/windows/resource.rc
res/windows/resource_icon.rc
res/macos/Info.plist
release/
packages/
